<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All products</title>
</head>
<body>
    <h1>All Products</h1>
    <% allProducts.forEach((oneProduct)=>{%>

        <p>name: <%= oneProduct.name %></p>
        <p>price: <%= oneProduct.price %></p>
        <p>quantity: <%= oneProduct.quantity %></p>
        <p>description: <%= oneProduct.description %></p>
        <p>brand: <%= oneProduct.brand %></p>
        <p>category: <%= oneProduct.category %></p>

        <a href="/products/<%= oneProduct._id %>">See Details</a>

        <% })  %>
    
</body>
</html>