<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
      <link rel="stylesheet" href="/css/style.css">
</head>
<body>
         <nav>
    <div id="destinations">
        <p id="logo">Store Manager</p>
        <a href="/stores">All Stores</a>
        <a href="/products">All Products</a>
    </div>
    <div class="action">
       <a href="/auth/sign-out"><button>LogOut</button></a>
    </div>
    </nav>
    <div class="page-container">
        <div class="form-card" id="product-edit-container">
            <h1>Edit: <%= editProduct.name %></h1>
    <form action="/products/update/<%= editProduct._id %>" method="post">
        <label for="name"></label>
        <input type="text" name="name" id="name" value="<%= editProduct.name %>">

        <label for="price">price(BD):</label>
        <input type="number" name="price" id="price" value="<%= editProduct.price %>">

        <label for="description">description:</label>
        <input type="text" name="description" id="description" value="<%= editProduct.description %>">

        <label for="quantity">quantity:</label>
        <input type="number" name="quantity" id="quantity" value="<%= editProduct.quantity %>"> 

         <label for="brand">brand:</label>
        <input type="text" name="brand" id="brand" value="<%= editProduct.brand %>"> 

         <label for="category">category:</label>
        <input type="text" name="category" id="category" value="<%= editProduct.category %>">

        
        <button type="submit">Update Product</button>
    </form>
        </div>
    </div>
    
</body>
</html>