<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Details</title>
     <link rel="stylesheet" href="/css/style.css">
</head>
<body>
      <nav>
    <div id="destinations">
        <p id="logo">Store Manager</p>
        <a href="/stores">All Stores</a>
    </div>
    </nav>
    <div class="page-container">
        <div class="form-card">
             <h1>Store Details</h1>

    <p>businessName: <%= foundStore.businessName %></p>
    <p>category: <%= foundStore.category %></p>
    <p>description: <%= foundStore.description %></p>
    <p>contactUs: <%= foundStore.contactUs %></p>
    <p>isActive: <%= foundStore.isActive %></p>

    <div class="card-footer">
          <form action="/stores/delete/<%= foundStore._id %>" method="post">
        <button type="submit" class="btn-delete">Delete Store</button>
    </form>
    <a href="/stores/<%= foundStore._id %>/edit">Edit Store</a>
    
    </div>

    <div class="product-list">
        
    <h2>All Products for <%= foundStore.businessName %></h2>
    <% allProducts.forEach((oneProduct)=>{ %>
        <div class="product-item">
                 <p><%= oneProduct.name %></p>
        <a href="/products/<%= oneProduct._id %>">See Details</a>
    
        </div>
        
    <% }) %>
    </div>

  
        </div>
    </div>
   
</body>
</html>