<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Details</title>
</head>
<body>
    <h1>Store Details</h1>

    <p>businessName: <%= foundStore.businessName %></p>
    <p>category: <%= foundStore.category %></p>
    <p>description: <%= foundStore.description %></p>
    <p>contactUs: <%= foundStore.contactUs %></p>
    <p>isActive: <%= foundStore.isActive %></p>

    <form action="/stores/delete/<%= foundStore._id %>" method="post">
        <button type="submit">Delete Store</button>
    </form>
    <a href="/stores/<%= foundStore._id %>/edit">Edit Store</a>
    
</body>
</html>